<div class="custom-nav">
  <!-- <a href="https://anikulkarn.github.io/portfolio/">Home</a> -->
  <a href="https://anikulkarn.github.io/portfolio/education/">Education</a>
  <a href="https://anikulkarn.github.io/portfolio/experience/">Experience</a>
  <a href="https://anikulkarn.github.io/portfolio/projects/">Projects</a>
  <!-- <a href="https://anikulkarn.github.io/portfolio/skills/">Skills</a> -->
  <a href="https://anikulkarn.github.io/portfolio/leadership/">Leadership</a>
  <a href="https://anikulkarn.github.io/portfolio/mentoring/">Mentoring</a>
  <a href="https://anikulkarn.github.io/portfolio/domains/">Domains</a>
</div>
